@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
/* fonte Montserrat do Google Fonts */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
}

.container {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  perspective: 3px;
}

section {
  background-size: cover;
  color: white;
  background-color: var(--bg, --color-black);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.image {
  background-position: center center;
  transform: translateZ(-1px) scale(1.5);
  background-size: cover;
  z-index: -1;
  height: 100vh;
}

section.text {
  height: 50vh;
}

section.heading {
  z-index: -1;
  transform: translateY(-30vh) translateZ(1px) scale(1.5);
}