@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
/* fonte Montserrat do Google Fonts */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

body{
    background-image: url('https://i0.wp.com/mossandfog.com/wp-content/uploads/2017/05/etkm6cv4mvwc18qejgl3.gif?resize=695%2C391&ssl=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}